.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav_button {
  display: block;
}

.headerwrapperbtn div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav_list {
  display: none;
}

.nav_item {
  display: inline;
}

.headernavlink {
  color: #757575;
  text-decoration: none;
  padding: 10px 34px;
}

.headernavlink:hover {
  color: #121212;
  transition: 0.3s;
}

.header_navlink_active {
  color: #121212;
}

.logotitle {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.logotitlelink {
  color: #121212;
  text-decoration: none;
  padding: 10px 20px 10px 0;
}

.logotitlelink:hover {
  color: #121212;
  transition: 0.3s;
}

@media (min-width: 991px) {
  .nav_button {
    display: none;
  }

  .nav_list {
    display: block;
  }
}
