/* Grid */
.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
/* Grid */

/* Main */
.mainwrapper {
  margin: 40px 0;
}

/* Title Section */
.titleavatar {
  max-width: 106px;   
  margin: 0 auto 30px auto;
}

.titleavatarimg {
  border-radius: 50%;
}

.titletextbox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* Title Section */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }

  .titleavatar {
    max-width: 124px;   
  }

  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

