/* Grid */
.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
/* Grid */

/* Header */
.header {
  padding: 30px 0;
}

.headerwrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.headerwrapperbtn {
  display: block;
}

.headerwrappernav {
  display: none
}

.headernavli {
  display: inline;
}

.headernavlink {
  color: #1c1b20;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 34px;
}

.headernavlink:hover {
  color: #1a237e;
  transition: 0.3s;
}
/* Header */

/* Main */
.mainwrapper {
  margin: 40px 0;
}

/* Title Section */
.titleavatar {
  max-width: 106px;   
  margin: 0 auto 30px auto;
}

.titleavatarimg {
  border-radius: 50%;
}

.titletextbox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* Title Section */


/* Footer */
.footer {
  border-top: 1px solid #eaeaea;
  padding: 60px 0;
}

.footerwrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
/* Footer */


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }

  .titleavatar {
    max-width: 124px;   
  }

  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .headerwrapperbtn {
    display: none;
  }

  .headerwrappernav {
    display: block;
  }

  .footerwrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

