.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;

    .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .grid4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 991px) {
  .container {
    max-width: 960px;

    .grid3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;

    .grid4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
