/* Grid */
.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
/* Grid */

.header {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

.headerwrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.headerwrapperbtn {
  display: block;
}

.headerwrappernav {
  display: none
}

.headernavli {
  display: inline;
  margin: 0 0 0 14px;
}

.headernavlink {
  color: #1c1b20;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
}

.headernavlink:hover {
  color: #1a237e;
  transition: 0.3s;
}

.footer {
  border-top: 1px solid #eaeaea;
  padding: 60px 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .headerwrapperbtn {
    display: none;
  }

  .headerwrappernav {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

