/* Fonts */
$font-main: "Poppins", sans-serif;
$font-secondary: "JetBrains Mono", monospace;

/* Colors */
$text: #99a3bf;
$heading: #ccd6f6;
$active: #6fffe9;

/* Backgrounds */
$dark-blue: #0b132b;
$mid-blue: #1a2340;
$light-blue: #3a506b;
