.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 16px 0;
  box-shadow: 0 0 6px rgb(0 0 0 / 15%)
}

.footer {
  background: #fafafa;
  padding: 40px 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}


@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

