@import "../../styles/abstracts/variables";

.footer {
  display: block;

  .wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    .social {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .social__icon {
        margin: 0 6px;

        img {
          padding: 12px !important;
          filter: invert(94%) sepia(84%) saturate(4624%) hue-rotate(176deg)
            brightness(77%) contrast(89%);
        }

        img:hover {
          filter: invert(94%) sepia(76%) saturate(652%) hue-rotate(79deg)
            brightness(118%) contrast(100%);
        }
      }
    }

    .copyright {
      .copyright__text {
        color: $text;
        font-family: $font-secondary;
        font-size: 12px;
      }
    }
  }
}
