.footerwrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

@media (min-width: 991px) {
  .footerwrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
