@import "./abstracts/variables";

.hello {
  .hello__wrapper {
    padding: 80px 0;

    .hello__headings {
      margin: 0 0 30px 0;

      .hello__caption {
        color: $active;
        font-family: $font-secondary;
        font-size: 16px;
        margin: 0 0 16px 0;
      }

      .hello__title {
        color: #ccd6f6;
        font-size: 38px;
        font-weight: 600;
        line-height: 1.2;
        margin: 0 0 10px 0;
      }

      .hello__subtitle {
        color: $text;
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
      }
    }

    .hello__content {
      .hello__text {
        color: $text;
        font-size: 14px;
        max-width: 500px;
        margin: 0 0 60px 0;
      }
    }
  }
}

.about {
  .about__wrapper {
    padding: 60px 0;

    .about__headings {
      margin: 0 0 30px 0;

      .about__title {
        width: 100%;
        color: $heading;
        font-size: 26px;
        font-weight: 600;
      }
    }

    .about__info {
      .about__content {
        margin: 0 0 40px 0;

        .about__text {
          color: $text;
          font-size: 14px;
          margin: 0 0 15px 0;
        }

        .about__list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          max-width: 500px;
          padding: 0;
          list-style: none;

          .about__item {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            color: $text;
            font-size: 14px;
            line-height: 1.6;

            svg {
              font-size: 12px;
              color: #6fffe9;
              margin: 0 8px 0 0;
            }
          }
        }
      }

      .about__button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }
    }
  }
}

.project {
  .project__wrapper {
    padding: 60px 0;

    .project__headings {
      text-align: center;
      margin: 0 0 30px 0;

      .project__subtitle {
        color: $active;
        font-family: $font-secondary;
        font-size: 14px;
      }

      .project__title {
        color: $heading;
        font-size: 26px;
        font-weight: 600;
      }
    }

    .project__content {
      margin: 0 0 40px 0;

      .project__box {
        box-shadow: 0 6px 12px #070b1a;
        background: $mid-blue;
        border-radius: 4px;
        padding: 30px;

        .project__box__icons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 30px 0;

          .project__icons__main {
            svg {
              color: $active;
              font-size: 40px;
            }
          }

          .project__icons__links {
            svg {
              color: $text;
              font-size: 26px;
            }
          }
        }

        .project__box__content {
          margin: 0 0 20px 0;

          .project__box__title {
            color: $heading;
            font-size: 18px;
            line-height: 1.2;
            margin: 0 0 10px 0;
          }

          .project__box__text {
            color: $text;
            font-size: 14px;
            line-height: 1.4;
          }
        }

        .project__box__tech {
          .project__box__list {
            padding: 0;

            .project__box_item {
              color: $text;
              display: inline;
              font-family: $font-secondary;
              font-size: 12px;
              margin: 0 15px 0 0;
            }
          }
        }
      }
    }
    .project__button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }
  }
}

.contact {
  .contact__wrapper {
    padding: 60px 0;

    .contact__headings {
      text-align: center;
      margin: 0 0 20px 0;

      .contact__subtitle {
        color: $active;
        font-family: $font-secondary;
        font-size: 14px;
      }

      .contact__title {
        color: $heading;
        font-size: 26px;
        font-weight: 600;
      }
    }

    .contact__content {
      .contact__text {
        color: $text;
        font-size: 14px;
        margin: 0 auto 40px auto;
        max-width: 500px;
        text-align: center;
      }
    }

    .contact__button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }
  }
}

@media (min-width: 991px) {
  .project {
    .project__wrapper {
      padding: 40px 0;

      .project__headings {
        text-align: center;
        margin: 0 0 50px 0;

        .project__subtitle {
          color: $active;
          font-family: $font-secondary;
          font-size: 14px;
        }

        .project__title {
          color: $heading;
          font-size: 32px;
          font-weight: 600;
        }
      }
    }
  }
}
