.titlesubheading {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 20px 0;
}

.titleheading {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
  max-width: 650px;
}

.titlesubtext {
  font-size: 16px;
  text-align: center;
  margin: 0 0 30px 0;
  max-width: 600px;
}

.titlehighlight {
  text-decoration: underline;
}

.calltoaction {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #121212;
  border: 2px solid #121212;
  border-radius: 40px;
  padding: 20px 50px;
}

.sub__heading {
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 50px 0;
}

@media (min-width: 991px) {
  .titlesubheading {
    font-size: 24px;
    margin: 0 0 30px 0;
  }

  .titleheading {
    font-size: 52px;
  }

  .titlesubtext {
    font-size: 18px;
  }
}
